.bim-viewer {
  height: 100%;
  min-height: 578px;
  position: relative;
}

bim-grid {
  position: relative;
  height: 100%;
}

bim-panel {
  height: 100%;
  width: 100%;
  min-height: 0;
  position: absolute;
  left: 0;
  top: 0;
  overflow: scroll;
}

bim-viewport {
  height: 100%;
  min-height: 578px;
}
